In [5]:
# Dependencies
import pandas as pd

In [6]:
# Loading in Movies CSV
movie_list = pd.read_csv("movies.csv")
movies_db = pd.DataFrame(movie_list)
movies_db

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
10324,146684,Cosmic Scrat-tastrophe (2015),Animation|Children|Comedy
10325,146878,Le Grand Restaurant (1966),Comedy
10326,148238,A Very Murray Christmas (2015),Comedy
10327,148626,The Big Short (2015),Drama
10328,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed)

In [9]:
# Loading in Ratings CSV
ratings_list = pd.read_csv("ratings.csv")
ratings_db = pd.DataFrame(ratings_list)
ratings_db

        userId  movieId  rating   timestamp
0            1       16     4.0  1217897793
1            1       24     1.5  1217895807
2            1       32     4.0  1217896246
3            1       47     4.0  1217896556
4            1       50     4.0  1217896523
...        ...      ...     ...         ...
105334     668   142488     4.0  1451535844
105335     668   142507     3.5  1451535889
105336     668   143385     4.0  1446388585
105337     668   144976     2.5  1448656898
105338     668   148626     4.5  1451148148

[105339 rows x 4 columns]

In [10]:
# Merging the Data sets
movie_ratings = movies_db.merge(ratings_db, on="movieId")
movie_ratings

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,5.0,859046895
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1303501039
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,5.0,858610933
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.0,850815810
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.0,851766286
...,...,...,...,...,...,...
105334,148238,A Very Murray Christmas (2015),Comedy,475,3.0,1451213043
105335,148626,The Big Short (2015),Drama,458,4.0,1452014749
105336,148626,The Big Short (2015),Drama,576,4.5,1451687664
105337,148626,The Big Short (2015),Drama,668,4.5,1451148148
105338,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed),475,4.0,1451223429

In [12]:
avg_rating = movie_ratings['rating'].mean()
rating_count = movie_ratings['rating'].count()

print(f'Average Rating: {avg_rating}')
print(f'Total Ratings: {rating_count}')

Average Rating: 3.5168503593161127
Total Ratings: 105339

In [19]:
# Creating a column for the number of ratings that movie has
movie_ratings['num_ratings'] = movie_ratings.groupby('title')['title'].transform('count')
movie_ratings

,movieId,title,genres,userId,rating,timestamp,num_ratings
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,5.0,859046895,232
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1303501039,232
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,5.0,858610933,232
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.0,850815810,232
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.0,851766286,232
...,...,...,...,...,...,...,...
105334,148238,A Very Murray Christmas (2015),Comedy,475,3.0,1451213043,1
105335,148626,The Big Short (2015),Drama,458,4.0,1452014749,3
105336,148626,The Big Short (2015),Drama,576,4.5,1451687664,3
105337,148626,The Big Short (2015),Drama,668,4.5,1451148148,3
105338,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed),475,4.0,1451223429,1