In [1]:
# Dependencies
import pandas as pd

In [2]:
# Loading in Movies CSV
movie_list = pd.read_csv("movies.csv")
movies_db = pd.DataFrame(movie_list)
movies_db

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
10324,146684,Cosmic Scrat-tastrophe (2015),Animation|Children|Comedy
10325,146878,Le Grand Restaurant (1966),Comedy
10326,148238,A Very Murray Christmas (2015),Comedy
10327,148626,The Big Short (2015),Drama
10328,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed)

In [3]:
# Loading in Ratings CSV
ratings_list = pd.read_csv("ratings.csv")
ratings_db = pd.DataFrame(ratings_list)
ratings_db

        userId  movieId  rating   timestamp
0            1       16     4.0  1217897793
1            1       24     1.5  1217895807
2            1       32     4.0  1217896246
3            1       47     4.0  1217896556
4            1       50     4.0  1217896523
...        ...      ...     ...         ...
105334     668   142488     4.0  1451535844
105335     668   142507     3.5  1451535889
105336     668   143385     4.0  1446388585
105337     668   144976     2.5  1448656898
105338     668   148626     4.5  1451148148

[105339 rows x 4 columns]

In [4]:
# Merging the Data sets
movie_ratings = movies_db.merge(ratings_db, on="movieId")
movie_ratings

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,5.0,859046895
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1303501039
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,5.0,858610933
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.0,850815810
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.0,851766286
...,...,...,...,...,...,...
105334,148238,A Very Murray Christmas (2015),Comedy,475,3.0,1451213043
105335,148626,The Big Short (2015),Drama,458,4.0,1452014749
105336,148626,The Big Short (2015),Drama,576,4.5,1451687664
105337,148626,The Big Short (2015),Drama,668,4.5,1451148148
105338,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed),475,4.0,1451223429

In [5]:
avg_rating = movie_ratings['rating'].mean()
rating_count = movie_ratings['rating'].count()

print(f'Average Rating: {avg_rating}')
print(f'Total Ratings: {rating_count}')

Average Rating: 3.5168503593161127
Total Ratings: 105339

In [6]:
# Creating a column for the number of ratings that movie has
movie_ratings['num_ratings'] = movie_ratings.groupby('title')['title'].transform('count')
movie_ratings

,movieId,title,genres,userId,rating,timestamp,num_ratings
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,5.0,859046895,232
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1303501039,232
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,5.0,858610933,232
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.0,850815810,232
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.0,851766286,232
...,...,...,...,...,...,...,...
105334,148238,A Very Murray Christmas (2015),Comedy,475,3.0,1451213043,1
105335,148626,The Big Short (2015),Drama,458,4.0,1452014749,3
105336,148626,The Big Short (2015),Drama,576,4.5,1451687664,3
105337,148626,The Big Short (2015),Drama,668,4.5,1451148148,3
105338,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed),475,4.0,1451223429,1

In [7]:
movie_ratings['avg_rating_col'] = movie_ratings.groupby('title')['rating'].transform('mean')
movie_ratings

,movieId,title,genres,userId,rating,timestamp,num_ratings,avg_rating_col
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,5.0,859046895,232,3.907328
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1303501039,232,3.907328
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,5.0,858610933,232,3.907328
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.0,850815810,232,3.907328
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.0,851766286,232,3.907328
...,...,...,...,...,...,...,...,...
105334,148238,A Very Murray Christmas (2015),Comedy,475,3.0,1451213043,1,3.000000
105335,148626,The Big Short (2015),Drama,458,4.0,1452014749,3,4.333333
105336,148626,The Big Short (2015),Drama,576,4.5,1451687664,3,4.333333
105337,148626,The Big Short (2015),Drama,668,4.5,1451148148,3,4.333333
105338,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed),475,4.0,1451223429,1,4.000000

In [8]:
# Created a variable for the minimum amount of ratings needed for it to be included
m= movie_ratings['num_ratings'].quantile(0.9)
m

157.0

In [9]:
filtered_movies = movie_ratings.copy().loc[movie_ratings['num_ratings'] >= m]
filtered_movies.shape

(10571, 8)

In [10]:
def weighted_rating(x, m=m, C=avg_rating):
    v = x['num_ratings']
    R = x['avg_rating_col']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [11]:
# Define a new feature 'score' and calculate its value with `weighted_rating()`
filtered_movies['score'] = filtered_movies.apply(weighted_rating, axis=1)

In [21]:
filtered_movies = filtered_movies.sort_values('score', ascending=False)

#Print the top 15 movies
filtered_movies[['title', 'num_ratings', 'avg_rating_col', 'score']].drop_duplicates(subset='title', keep='first', inplace=False).head(15)

,title,num_ratings,avg_rating_col,score
9797,"Shawshank Redemption, The (1994)",308,4.454545,4.137947
22805,"Godfather, The (1972)",210,4.392857,4.018108
2769,"Usual Suspects, The (1995)",228,4.328947,3.997781
15913,Schindler's List (1993),248,4.296371,3.994186
53626,"Matrix, The (1999)",261,4.264368,3.983602
18408,"Silence of the Lambs, The (1991)",290,4.194828,3.956701
8921,Pulp Fiction (1994),325,4.160000,3.950509
7713,Star Wars: Episode IV - A New Hope (1977),273,4.188645,3.943362
19230,Fargo (1996),201,4.271144,3.940351
28839,Star Wars: Episode V - The Empire Strikes Back...,228,4.228070,3.938040
11381,Forrest Gump (1994),311,4.138264,3.929798
29190,Raiders of the Lost Ark (Indiana Jones and the...,224,4.212054,3.925579
58974,Fight Club (1999),207,4.188406,3.898751
57661,American Beauty (1999),216,4.157407,3.887790
4036,Braveheart (1995),248,4.108871,3.879372